@font-face {
  font-family: "SFPro";
  src: url(../../assets/fonts/SFPro/SFPRODISPLAYREGULAR.OTF) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url(../../assets/fonts/SFPro/SFPRODISPLAYBOLD.OTF) format("opentype");
  font-weight: 700;
  font-style: normal;
}
