$color-nav-green: #629071;
$color-dyk-pink: #ffc688;
$color-btn-green: #349053;
$color-leader-green: #62a255;
$color-bgd-white: #e9e9e9;
$color-text-green: #347d1f;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
