@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__menu {
    width: 5%;
  }

  &__user {
    border-radius: 50%;
    width: 25%;
  }

  &__logo {
    width: 5%;
  }

  &__welcome {
    &-content {
      display: flex;
      justify-content: space-between;
    }

    &-text {
      text-align: center;
    }
  }
}
