@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

  &__menu {
    width: 25px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__user {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover;
  }

  &__logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__welcome {
    &-content {
      display: flex;
      justify-content: space-between;
    }

    &-text {
      text-align: center;
      font-size: 26px;
      margin-top: 16px;
    }
  }

  &__savings {
    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 4px;

    &-title {
      font-size: 16px;
      padding: 8px 0px 16px 16px;
    }

    &-stats {
      padding: 0px 16px 16px 16px;
    }

    &-amount {
      color: $color-text-green;
      font-weight: 700;
    }
  }
}
