@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.leaderboard {
    display: flex;
    flex-direction: column;
    // width: 320px;
    box-sizing: border-box;


    &__title {
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding: 1rem 0;
    }

    &__heading-container {
        display: flex;
        flex-direction: row;
        background-color: $color-nav-green;
        height: 53px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        color: $color-bgd-white;
    }

    &__logo {
        border-radius: 46%;
        width: 39px;
        // height: 39px;
    }

    &__month {
        font-size: 1rem;
        font-weight: 700;
    }

    &__carbon-emmission {
        font-size: 1rem;
    }

    &__caption {
        font-size: 14px;
        display: flex;
        justify-content: center;
        padding: 24px 20px;
    }

    &__user-container {
        display: flex;
        flex-direction: row;
        padding: 24px 16px;
        
    }

    &__avatar {
        height: 48px;
        padding-right: 16px;
    }

    &__details-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__user-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    &__name {
        width: 50%;
        font-size: 15px;
        font-weight: 700;
    }

    &__user-emmission {
        display: flex;
        width: 50%;
        font-size: 14px;
        justify-content: flex-end;
    }

    &__progress-bar {
        width: 100%;
    }

    // animation progress bar
    &__bar {
        background-color: #efefef;
        border-radius: 15.043px;
        width: 100%;
        height: 16px;
    }

    &__emily {
        background-color: $color-leader-green;
        width: 24%;
        height: 16px;
        border-radius: 15.043px;

        animation: emily 1s linear forwards;
    }

    &__jen {
        background-color: $color-leader-green;
        width: 65%;
        height: 16px;
        border-radius: 15.043px;

        animation: jen 1s linear forwards;
    }

    &__jon {
        background-color: $color-leader-green;
        width: 80%;
        height: 16px;
        border-radius: 15.043px;

        animation: jon 1s linear forwards;
    }

    &__joan {
        background-color: $color-leader-green;
        width: 85%;
        height: 16px;
        border-radius: 15.043px;

        animation: joan 1s linear forwards;
    }

    &__jessie {
        background-color: $color-leader-green;
        width: 90%;
        height: 16px;
        border-radius: 15.043px;

        animation: jessie 1s linear forwards;
    }


}

@keyframes emily {
    0% {
      width: 0;
    }
    100% {
      width: 24%;
    }
  }

  @keyframes jen {
    0% {
      width: 0;
    }
    100% {
      width: 65%;
    }
  }

  @keyframes jon {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
  }

  @keyframes joan {
    0% {
      width: 0;
    }
    100% {
      width: 85%;
    }
  }

  @keyframes jessie {
    0% {
      width: 0;
    }
    100% {
      width: 90%;
    }
  }
